body {
    font-family: "Montserrat";
    color: hsl(212, 21%, 14%);
    width: 1440px;
    margin: 0;
}

h1 {
    font-family: "Druance"
}

.product-container {

    display: flex;
    flex-direction: row;
    background-color:  hsl(30, 38%, 92%);
    
}


.product-container h5 {

    font-weight: 400;
}


.perfume-image {
    width: 50%;
}
.price-container {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: hsl(158, 36%, 37%);
}


.price-container p {
    text-decoration: line-through;
    color: black;
}

.product-details {
    margin: 50px;
}

.product-details h1 {
    font-size: 50px;

}

.add-to-cart-btn {
    background-color: hsl(158, 36%, 37%);
    color:  hsl(30, 38%, 92%);
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    border: none;

}